<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Institucional Lista</title>
</head>
<body>
    
    <h1> Alumnos </h1>
    <ul>
        {% for institucional in object_list %}

            <li>
                <p> NOMBRE: {{  institucional.nombre   }} </p>
                <p>
                    <a href="{% url 'Detalle' institucional.id %}"> Ver </a>
                    <a href="{% url 'Editar' institucional.id %}"> Editar </a>
                    <a href="{% url 'Borrar' institucional.id %}"> Borrar </a>
                </p>
            </li>
        {% endfor %}
    </ul>

    
</body>
</html>