{% extends 'base.html' %}
{% load static %}

{% block content %}

<br>
<br>


    <div class="container">
       <h2 class="text-center text-dark">
           Acerca de Mi
       </h2>
       <br>
       <div class="row g-4">
           <div class="col-md-6 col-lg-3">
               <div class="card bg-success">
                    <div class="card-body text-center">
                        <img src="{% static 'imagenes/yo.jpg' %}" class="rounded-circle mb-3" width="150px">
                    <h3 class="card-title mb-3">Santiago Pascualetto</h3>
                    <p class="card-text">Python Developer Jr.</p>
                    </div>
               </div>
           </div>
           <div class="col">
            <div class="">
                 <div class="text">
                    <p>Mi nombre es Santiago Pascualetto. </p>
                    <p>Actualmente me encuentro cursando la carrera de Ingenieria Industrial en la Universidad de Buenos Aires y he decidido aprender programación mediante CoderHouse. En este momento me encuentro haciendo la entrega final del curso de Python y en breve arrancaré Data Analytics</p>
                    <p> </p>
                    <p>Pueden encontrar mi perfil en los siguientes links:</p>
                    <p>https://github.com/spascualetto</p>
                    <p>https://www.linkedin.com/in/santiago-pascualetto</p>
                    </p>
                 </div>
            </div>
        </div>
       </div>
    </div>
    <br>
    <br>
    <br>
    <br>



{% endblock %}